/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #F7F8F5;
  font-size: 1.6rem;
}

body,
button,
input {
  font-family: 'Roboto', sans-serif;
  color: #33535F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', sans-serif;
  color: #17282F;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 6rem;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 17.5px;
  color: #B4B6B3;
}

footer a {
  font-weight: 500;
}

.btn {
  border: none;
  font-size: 2.3rem;
  background: #17282F;
  color: #FFFFFF;
  padding: 1.6rem 3rem;
  border-radius: 5px;
  transition: .5s;
}

.btn:hover {
  background: #37484F;
  border-radius: 0;
  transition: .3s;
}

.btn-orange {
  background: #D5A428;
}

.btn-orange:hover {
  background: #FABB1E;
}

/* Home */
.home-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-page-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw;
  width: 50vw;
  text-align: center;
}

.home-page-container img {
  width: 45vw;
  margin-left: 50px;
}

.home-page-container header p {
  margin: 2.5rem 0 3.5rem;
  line-height: calc(20px + 0.5vw);
  letter-spacing: 0.8px;
}

.home-page-container .links {
  display: flex;
  width: calc(218px + 13vw);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1900px) {
  html {
    font-size: 200%;
  }
}

@media (min-width: 1550px) {
  html {
    font-size: 95%;
  }

  .home-page-container .links {
    width: calc(350px + 13vw);
  }
}

@media (min-height: 900px) and (max-width: 1500px) {
  .home-page-container {
    flex-direction: column;
  }
}


@media (max-width: 930px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 5rem;
  }

  .home-page-container {
    flex-direction: column;
  }

  .home-page-container img {
    width: 70vw;
    margin: 0;
  }

  .home-page-container header {
    width: 90vw;
  }

  .home-page-container header p {
    margin: 2rem 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
}

@media (max-height: 550px) {
  footer {
    position: static;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: -10px;
  }
}